<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Biblio</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"><MatIcon Icon="home"></MatIcon></span> Home
            </NavLink>
        </li>

        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/myreservations" Match="NavLinkMatch.All">
                    <span aria-hidden="true"><MatIcon Icon="search"></MatIcon></span> My Reservations
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/findbooks" Match="NavLinkMatch.All">
                    <span aria-hidden="true"><MatIcon Icon="search"></MatIcon></span> Find Books
                </NavLink>
            </li>

        </AuthorizeView>

        <AuthorizeView Roles="LibraryAdmin">

        </AuthorizeView>

        <AuthorizeView Roles="SystemAdmin">

        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
