<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Biblio</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"><MatIcon Icon="home"></MatIcon></span> Home
            </NavLink>
        </li>

        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/myreservations" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="assignment"></MatIcon></span> My Reservations
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/findbooks" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="search"></MatIcon></span> Find Books
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/borrowedbooks" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="assignment"></MatIcon></span> Borrowed Books
                </NavLink>
            </li>

        </AuthorizeView>

        <AuthorizeView Roles="LibraryAdmin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/findbooksphysical" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="location_on"></MatIcon></span> Find Book Location
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/borrowbooks" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="book"></MatIcon></span> Borrow Books
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/returnbooks" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="assignment_return"></MatIcon></span> Return Books
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/managehomelibrary" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="Home"></MatIcon></span> Manage Home
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/checkinbooks" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="Home"></MatIcon></span> Checkin Books
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/managebooks" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="Home"></MatIcon></span> Manage Books
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/managereservations" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="Home"></MatIcon></span> User Reservations
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/addlibraryadmin" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="Home"></MatIcon></span> Add Library Admin
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView Roles="SiteAdministrator">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/addlibrary" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="search"></MatIcon></span> Add Library
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/applylibrary" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><MatIcon Icon="assignment"></MatIcon></span> Apply Library
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
