@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

<GenericBookList BookType="@SharedProperties.BookTypes.Copy" DisplayType="@SharedProperties.DisplayTypes.Card" ViewState="SharedProperties.ViewState.ShowList" inputObjectList="@bookCopyList" OnDetailClick="@noting"></GenericBookList>

@code {
    private List<BookCopyDTO> bookCopyList = new List<BookCopyDTO>();

    /// <summary>
    /// Component startup procedure.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("INDEX");
        bookCopyList = await Http.GetFromJsonAsync<List<BookCopyDTO>>($"api/BookCopies/GetAllBookCopiesByBookId?bookId={ 1 }");
        Console.WriteLine(bookCopyList);
    }

    public void noting()
    {

    }
} 