@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<GenericBookList inputObjectList="@bookCopyList"></GenericBookList>

@code {
    private List<Bog> bookCopyList = new List<Bog>();

    /// <summary>
    /// Component startup procedure.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        bookCopyList.Add(new Bog() { Id = 1 });
    }
} 