@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Welcome back!</h1>

        <p>
            
        </p>
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>

        <p>
            Welcome to the central library website! Here you can reserve books from libraries all over Denmark.
            To start renting books you must create an account and visit your local Library to enable it as your home library.
            Following that you can reserve book online here, manage your reservation, see your current rented books and contact libraries.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {

} 